body {
	background:#438643;
	margin: 0 auto;
	padding: 0;
}
.main {
	width: 50%;
	margin: 60px auto;
	background-color:#96b25f;
	border-radius: 30px;
	padding: 10px 0;
}
.heading {
	text-align: center;
	padding: 15px;
	color: papayawhip;
	font-family:serif;
}
.usr-name {
	text-align: center;
}
.field {
	text-align: center;
}
.user-detail{
	text-align: center;
}
input {
	background :transparent;
	outline: none;
	border:none;
	border-bottom: 2px solid #438643;
	padding: 8px;
    box-sizing: border-box;
	border-radius: 6px;
    font-size: 16px;
}
.btn {
    border: 2px solid #438643;
    background: transparent;
    font-size: 15px;
    padding: 7px;
    outline: none;
    margin-left: 15px;
    color: oldlace;
}
h5 {
	font-size: 18px;
	letter-spacing:1px;
	font-size: 22px;
    letter-spacing: 1;
    color: forestgreen;
}
h4 {
	font-size: 27px;
    color: darkgreen;
}
.user-img {
	border-radius:50%;
	height: 12rem;
	width: 12rem;
	display: inline-block;
}

.user-repo,
.user-follower,
.user-following {
	display:block;
} 