body{
	margin: 0 auto;
	background-image: url("/home/ravi/Downloads/cat4.jpg");
	
}
.clock{
	height: 350px;
	width: 350px;
	border-radius:50%;
	border:20px solid #f6cdcd;
	position: relative;
	margin-left: 25rem;
}

}
.second{
	position: absolute;
	top:50%;
	left:50%;
	border-radius: 5px;
	

}
.hand {
	width:50%;
	height: 10px;
	background: yellow;
	transform-origin: 100%;
	position: relative;
	top:50%;
	border-radius: 5px;

	}
.minutes{
	background-color: green;
	position: absolute;
	top:50%;
	left:0%;
	border-radius: 5px;

}
.hour{

	position: absolute;
	background-color: red;
	top:50%;
	left:0%;
	border-radius: 5px;
	
}
.twelve{
	position:absolute;
	top:0px;
	left:50%;
	font-size: 25px;
	color: white;
	padding-top: 10px;
}
.three{
	position:absolute;
	right:0px;
	top:50%;
	font-size: 25px;
	color: white;
	padding-right: 10px;
}
.six{
	position:absolute;
	bottom:0px;
	left: 50%;
	font-size:25px;
	color: white;
	padding-bottom:10px;
}
.nine{
	position:absolute;
	left:0px;
	top:50%;
	font-size:25px;
	color: white;
	padding-left:10px;
}